body{
    background-color: grey;
}

h1{
    font-family: sans-serif, Helvetica, Helvetica Neue;
    background: lightskyblue;
}

p{
    font-family: sans-serif, Helvetica, Helvetica Neue;
}

